# 1. URL base da nossa API para as Server Actions consumirem
NEXT_PUBLIC_API_URL="http://localhost:3000"

# 2. Chaves do Back-end / ORM (Para acesso direto ao banco de dados)
# Usa a porta 6543 (Pooling) para tráfego do dia a dia e rotas de API
DATABASE_URL="postgresql://postgres.[SEU_ID]:[SUA_SENHA]@aws-0-sa-east-1.pooler.supabase.com:6543/postgres"

# Usa a porta 5432 (Direct) para migrações e criação de tabelas
DIRECT_URL="postgresql://postgres.[SEU_ID]:[SUA_SENHA]@aws-0-sa-east-1.pooler.supabase.com:5432/postgres"